body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body .container {
  width: 1200px;
  background-color: rgb(235, 235, 235);
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
}
body .container .center {
  padding: 1rem;
  box-sizing: border-box;
}
body .container .table {
  width: 100%;
}
body #file-selection {
  margin: auto;
  width: 50rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #file-selection .title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
body #file-selection input {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}
body #file-selection .subtitle .me {
  color: #db2e06;
}
body #file-selection .subtitle .them {
  color: #0040ff;
}
body table {
  width: 100%;
  table-layout: fixed;
}
body table tbody th,
body table tbody td,
body table thead th,
body table thead td {
  width: 20%;
}
body table tbody .small-col,
body table thead .small-col {
  width: 7%;
  text-align: center;
}
body table tbody {
  width: 100%;
}
body table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
body table tbody td {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
body tbody .actions {
  display: flex;
}
body tbody .actions a {
  margin: auto;
}
body dialog {
  max-width: 80%;
  max-height: 80%;
  padding: 0;
}
body dialog .table {
  padding: 16px;
  text-align: center;
}
body dialog table {
  width: auto;
}
body dialog table td,
body dialog table th {
  padding: 0 2em;
}
body dialog .button-horizontal {
  background-color: white;
  position: sticky;
  padding: 1rem;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
}
body dialog .button-horizontal button {
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
  padding: 0.5rem 1rem;
}
body .item-inspection .quick-info {
  display: flex;
  flex-direction: row;
}
body .item-inspection .quick-info .thumbnail {
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;
}
body .item-inspection .quick-info .thumbnail img {
  max-width: 100%;
  max-height: 100%;
}
body .item-inspection .quick-info .details {
  width: 60%;
}
body .item-inspection .quick-info table tbody td {
  text-wrap: wrap;
}
body .item-inspection .asset-list tbody {
  text-align: center;
}
body #item-inspection-nav {
  margin-bottom: 1rem;
}
body #chart-search {
  margin-bottom: 1rem;
}
body #chart-search input {
  width: 500px;
  padding: 0.25rem;
}
body h2 {
  padding: 0 2rem;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}